/* Universal styles */

body {
 font-family: Helvetica;
 font-size: 22px;
 color: seashell;
 background-color: black;
 opacity: 0.9;
 text-align: center;
 margin: 0;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}

h3 {

}

p {

}

/* Header */

.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  flex-grow: 1;
  padding-left: 10px
}

.logo img {
  height: 50px;
}

.header nav {
  display: flex;
  padding-right: 10px;
}

.header nav a {
  padding: 0 10px;
}

a.header-link:link {
  color: seashell;
}

a.header-link:visited {
  color: seashell;
}

a.header-link:hover {
  color: #ff944d;
}

/* Main content section */

.main {
  padding-top: 69px;
  margin: auto;
}

/* Our Mission */

#mission-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mission {
  background-image: url(../images/img-mission-background.jpg);
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  margin: 0 auto 25px auto;
}

.mission-copy {
  background-color: black;
  margin: auto;
  width: 100%;
  padding: 10px;
}

/* Tea of the month */

.tea-section {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.tea-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tea-images {
  padding: 5px;
}

.tea-images img {
  height: 200px;
  margin: 10px;
  display: block;
}

.tea-images span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* Locations */

#locations-container {
  display: flex;
}

.locations {

}

.locations .downtown {

}

.locations .east-bayside {

}

.locations .oakdale {

}

/* Footer */

#footer-container {
  display: flex;
}

.footer {

}

.footer .contact {

}

.footer .copyright {

}
